
<!DOCTYPE html>
<html lang="en">
	<head>
		
		<meta charset="utf-8" />
		<title>{title}| {{caption}}</title>
		<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico" />
		<link rel="stylesheet" href="css/sweetalert.css" type="text/css" />
		<link rel="stylesheet" href="css/style.css" type="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui.min.js"></script>
		<script type="text/javascript" src="js/sweetalert.min.js"></script>
		<script type="text/javascript" src="js/script.js"></script>
	</head>
	<body>
		<section id="top">
			<section class="wrapper">
				<header>
					<h1><a href="index.html" title="Femme"><img src="images/header-logo.png" alt="image" title="Femme"/></a></h1>
					<div id="myNav" class="sidenav" onclick="closeNav()">
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<div class="overlay-content">
					    	<ul>
								<li><a onclick="closeNav()" href="/" title="Home">Home</a></li>
								<li><a onclick="closeNav()" href="/about/" title="About">About</a></li>
								<li><a onclick="closeNav()" href="/#features" title="Features">Features</a></li>
								<li class="last"><a onclick="closeNav()" href="/#contact" title="">Contact</a></li>
							</ul>
						</div>
					</div>
					<span class="openmenu" onclick="openNav()">&nbsp;</span>
					<br class="clear" />
				</header>
				
					<section id="spotlight">
	<h2>About</h2>
</section><!--(#top > .wrapper > #spotlight)-->
				
				

			</section><!--(#top > .wrapper)-->
		</section><!--(#top)-->
		
		
	<section id="about">
		<section class="wrapper">
			
				<ul>
					
						<li>
							<div class="top">
								<div class="img">
									<img src="images/about.png" alt="" title="">
								</div>
							</div>
							<div class="bottom">
								<h3>About Femme</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
							</div>
						</li>
					
						<li>
							<div class="top">
								<div class="img">
									<img src="images/about.png" alt="" title="">
								</div>
							</div>
							<div class="bottom">
								<h3>Our Vision</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
							</div>
						</li>
					
						<li>
							<div class="top">
								<div class="img">
									<img src="images/about.png" alt="" title="">
								</div>
							</div>
							<div class="bottom">
								<h3>Our Mission</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
							</div>
						</li>
					
				</ul>
				<br class="clear">
			
		</section>
	</section>

		
		<section id="contact">
			<section class="wrapper">
				<div class="head">
					<h3>Get in Touch</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores tenetur aliquid sit repellat, dolores eius quasi possimus ipsum explicabo cumque. Explicabo exercitationem dignissimos asperiores unde et est, expedita numquam?</p>
				</div>
				<ul>
					<li>
						<span><b class="icon icon1">&nbsp;</b></span>
						<p>2nd Floor,<br>Ashtamudi Tower,<br>SEZ IT Building Technopark <br>Kollam - 691501</p>
					</li>
					<li>
						<span><b class="icon icon2">&nbsp;</b></span>
						<p><a title="Email" href="mailto:hello@femme.com"> hello@femme.com</a></p>
					</li>
					<li>
						<span><b class="icon icon3">&nbsp;</b></span>
						<p><a title="Phone" href="tel:"> +91 9845213212</a></p>
						<p><a title="Phone" href="tel:">+91 9684578632</a></p>
					</li>
				</ul>
				<br class="clear">
				<span class="line one">&nbsp;</span>
				<section class="bottom">
					<a href="#" title="Twitter" target="_blank" class="icon Twitter"><img src="images/tw.png" alt="Image" title="Twitter" /></a>
					<a href="#" title="Facebook" target="_blank" class="fb"><img src="images/fb.png" alt="Image" title="Facebook" /></a>
					<a href="#" title="Google Plus" target="_blank" class="icon gplus"><img src="images/gp.png" alt="Image" title="Google Plus" /></a>
				</section>
			</section>
		</section>


		
		<footer>
			<section class="wrapper">
				<p>Powered By Femme. <span>&copy;</span> 2018 Femme. All rights reserved.</p>
			</section><!--(#footer > .bottom)-->
		</footer>
		<script>
			function openNav() {
			    document.getElementById("myNav").style.height = "100%";
			}

			function closeNav() {
			    document.getElementById("myNav").style.height = "0%";
			}
		</script>
	</body>
</html>