<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="utf-8" />
		<title>{{title}}| {{caption}}</title>
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />
		<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'css/sweetalert.css' %}" type="text/css" />
		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/action.js' %}"></script>
	</head>
	<body>
		<section id="top">
			<section class="wrapper">
				<header>
					<h1><a href="index.html" title="Femme"><img src="{% static 'images/header-logo.png' %}" alt="image" title="Femme"/></a></h1>
					<div id="myNav" class="sidenav" onclick="closeNav()">
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<div class="overlay-content">
					    	<ul>
								<li><a onclick="closeNav()" href="#home" title="Home">Home</a></li>
								<li><a onclick="closeNav()" href="#about" title="About">About</a></li>
								<li><a onclick="closeNav()" href="#features" title="Features">Features</a></li>
								<li class="last"><a onclick="closeNav()" href="#" title="">Contact</a></li>
							</ul>
						</div>
					</div>
					<span class="openmenu" onclick="openNav()">&nbsp;</span>
					<br class="clear" />
				</header>
				<section id="spotlight">
					<h2>The Secret of getting <br>Ahead is getting started</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nobis culpa magni, quod vel a maxime deleniti error officia odit, dicta laudantium cumque nostrum maiores beatae laboriosam eius, aut alias?</p>
					<a title="Explore" href="#" class="button">Explore</a>
				</section><!--(#top > .wrapper > #spotlight)-->
			</section><!--(#top > .wrapper)-->
		</section><!--(#top)-->
		<section id="about">
			<section class="wrapper">
				<ul>
					{% for about in about %}
						<li>
							<div class="top">
								<div class="img">
									<img src="{{about.image.url}}" alt="" title="">
								</div>
							</div>
							<div class="bottom">
								<h3>{{about.title}}</h3>
								<p>{{about.content}}</p>
							</div>
						</li>
					{% endfor %}
				</ul>
				<br class="clear">
			</section>
		</section>
		<section id="issues">
			<section class="wrapper">
				<div class="head">
					<h3>Issues And</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores tenetur aliquid sit repellat, dolores eius quasi possimus ipsum explicabo cumque. Explicabo exercitationem dignissimos asperiores unde et est, expedita numquam?</p>
				</div>
				<ul>
					<li>
						<span><small><b class="icon icon1">&nbsp;</b></small></span>
						<h4>Lorem Ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur veniam suscipit! Nulla commodi iste.</p>
					</li>
					<li>
						<span><small><b class="icon icon2">&nbsp;</b></small></span>
						<h4>Lorem Ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur veniam suscipit! Nulla commodi iste.</p>
					</li>
					<li>
						<span><small><b class="icon icon3">&nbsp;</b></small></span>
						<h4>Lorem Ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur veniam suscipit! Nulla commodi iste.</p>
					</li>
					<li>
						<span><small><b class="icon icon4">&nbsp;</b></small></span>
						<h4>Lorem Ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur veniam suscipit! Nulla commodi iste.</p>
					</li>
					<li>
						<span><small><b class="icon icon5">&nbsp;</b></small></span>
						<h4>Lorem Ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur veniam suscipit! Nulla commodi iste.</p>
					</li>
					<li>
						<span><small><b class="icon icon6">&nbsp;</b></small></span>
						<h4>Lorem Ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur veniam suscipit! Nulla commodi iste.</p>
					</li>
					<li>
						<span><small><b class="icon icon7">&nbsp;</b></small></span>
						<h4>Lorem Ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur veniam suscipit! Nulla commodi iste.</p>
					</li>
					<li>
						<span><small><b class="icon icon8">&nbsp;</b></small></span>
						<h4>Lorem Ipsum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur veniam suscipit! Nulla commodi iste.</p>
					</li>
				</ul>
				<br class="clear">
				<span class="line one">&nbsp;</span>
				<span class="line two">&nbsp;</span>
			</section>
		</section>
		<section id="whyfemme">
			<section class="wrapper">
				<div class="head white">
					<h3>Why Femme</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quidem mollitia voluptate expedita rem, facilis eveniet temporibus necessitatibus accusantium, perspiciatis alias, quasi sed animi! Ex nisi placeat iste perspiciatis doloremque!</p>
				</div>
				<div class="circle-container">
					<img src="{% static 'images/why-femme.png' %}" alt="">
					<div class="row first">
						<div class="box one">
							<span class="icon">&nbsp;</span>
							<h4>New <br> opportunities</h4>
						</div>
						<div class="box two">
							<span class="icon">&nbsp;</span>
							<h4>Social <br> awareness</h4>
						</div>
						<br class="clear" />
					</div>
					<div class="row second">
						<div class="box one">
							<span class="icon">&nbsp;</span>
							<h4>Young <br> entrepreneur girls</h4>
						</div>
						<div class="box two">
							<span class="icon">&nbsp;</span>
							<h4>Freedom <br> is not a word</h4>
						</div>
						<br class="clear" />
					</div>
					<div class="row third">
						<div class="box one">
							<span class="icon">&nbsp;</span>
							<h4>Technology <br> everywhere</h4>
						</div>
						<div class="box two">
							<span class="icon">&nbsp;</span>
							<h4>Strong <br> families</h4>
						</div>
						<br class="clear" />
					</div>
					<div class="row fourth">
						<div class="box one">
							<span class="icon">&nbsp;</span>
							<h4>Fearless <br> girls & women</h4>
						</div>
						<div class="box two">
							<span class="icon">&nbsp;</span>
							<h4>The women <br> empowerment</h4>
						</div>
						<br class="clear" />
					</div>
					<br class="clear">
				</div>
			</section>		
			
		</section>
		<section id="features">
			<section class="wrapper">
				<div class="head">
					<h3>Our Features</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores tenetur aliquid sit repellat, dolores eius quasi possimus ipsum explicabo cumque. Explicabo exercitationem dignissimos asperiores unde et est, expedita numquam?</p>
				</div>
				<div class="left">
					<ul>
						<li>
							<span><small><b class="icon icon1">&nbsp;</b></small></span>
							<div class="content">
								<h4>Innovative mission</h4>
							</div>
						</li>
						<li>
							<span><small><b class="icon icon2">&nbsp;</b></small></span>
							<div class="content">
								<h4>24*7 Service</h4>
							</div>
						</li>
						<li>
							<span><small><b class="icon icon3">&nbsp;</b></small></span>
							<div class="content">
								<h4>Business opportunities</h4>
							</div>
						</li>
						<li>
							<span><small><b class="icon icon4">&nbsp;</b></small></span>
							<div class="content">
								<h4>Strong charity wing</h4>
							</div>
						</li>
					</ul>
				</div>
				<div class="right">
					<ul>
						<li>
							<span><small><b class="icon icon5">&nbsp;</b></small></span>
							<div class="content">
								<h4>Talented team</h4>
							</div>
						</li>
						<li>
							<span><small><b class="icon icon6">&nbsp;</b></small></span>
							<div class="content">
								<h4>Participating everyone</h4>
							</div>
						</li>
						<li>
							<span><small><b class="icon icon7">&nbsp;</b></small></span>
							<div class="content">
								<h4>Profitable entities</h4>
							</div>
						</li>
						<li>
							<span><small><b class="icon icon8">&nbsp;</b></small></span>
							<div class="content">
								<h4>Technical support</h4>
							</div>
						</li>
					</ul>
				</div>
				<br class="clear">
			</section>
		</section>		
		<section id="departments">
			<section class="wrapper">
				<div class="head white">
					<h3>Femme's Departments</h3>
				</div>
				<ul id="accordion">
					<li class="active one">
						<div class="top">
							<div class="designs">
								<div class="design-left">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<br class="clear" />
								</div>
								<div class="design-right">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<span class="d4 d">&nbsp;</span>
									<br class="clear" />
								</div>
							</div>
						</div>
						<div class="content onebythree">
							<div>
								<img src="{% static 'images/technewbie.png' %}" title="" alt="" />
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<img src="{% static 'images/ykipp.png' %}" title="" alt="" />
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<img src="{% static 'images/askid.png' %}" title="" alt="" />
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<br class="clear">
						</div>
						<div class="bottom">
							<h4 class="active"><b><small class="one">&nbsp;</small></b>Educations<span><small>&nbsp;</small></span></h4>
							<div class="designs">
								<div class="design-left">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<br class="clear" />
								</div>
								<div class="design-right">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<span class="d4 d">&nbsp;</span>
									<br class="clear" />
								</div>
							</div>
						</div>						
					</li>
					<li class="two">
						<div class="top">
							<div class="designs">
								<div class="design-left">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<br class="clear" />
								</div>
								<div class="design-right">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<span class="d4 d">&nbsp;</span>
									<br class="clear" />
								</div>
							</div>
						</div>
						<div class="content onebyfour">
							<div>
								<span class="icon"><small class="icon one">&nbsp;</small></span>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<span class="icon"><small class="icon two">&nbsp;</small></span>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<span class="icon"><small class="icon three">&nbsp;</small></span>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<span class="icon"><small class="icon four">&nbsp;</small></span>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<br class="clear">
						</div>
						<div class="bottom">
							<h4><b><small class="two">&nbsp;</small></b>Traders<span><small>&nbsp;</small></span></h4>
							<div class="designs">
								<div class="design-left">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<br class="clear" />
								</div>
								<div class="design-right">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<span class="d4 d">&nbsp;</span>
									<br class="clear" />
								</div>
							</div>
						</div>		
					</li>
					<li class="three">
						<div class="top">
							<div class="designs">
								<div class="design-left">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<br class="clear" />
								</div>
								<div class="design-right">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<span class="d4 d">&nbsp;</span>
									<br class="clear" />
								</div>
							</div>
						</div>
						<div class="content onebythree">
							<div>
								<small class="icon one">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon two">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon three">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon four">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon five">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon six">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<br class="clear">
						</div>
						<div class="bottom">
							<h4><b><small class="three">&nbsp;</small></b>Technologies<span><small>&nbsp;</small></span></h4>
							<div class="designs">
								<div class="design-left">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<br class="clear" />
								</div>
								<div class="design-right">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<span class="d4 d">&nbsp;</span>
									<br class="clear" />
								</div>
							</div>
						</div>		
					</li>
					<li class="four">
						<div class="top">
							<div class="designs">
								<div class="design-left">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<br class="clear" />
								</div>
								<div class="design-right">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<span class="d4 d">&nbsp;</span>
									<br class="clear" />
								</div>
							</div>
						</div>
						<div class="content onebythree">
							<div>
								<small class="icon one">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon two">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon three">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon four">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon five">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<br class="clear">
						</div>
						<div class="bottom">
							<h4><b><small class="four">&nbsp;</small></b>Tourism<span><small>&nbsp;</small></span></h4>
							<div class="designs">
								<div class="design-left">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<br class="clear" />
								</div>
								<div class="design-right">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<span class="d4 d">&nbsp;</span>
									<br class="clear" />
								</div>
							</div>
						</div>		
					</li>
					<li class="five">
						<div class="top">
							<div class="designs">
								<div class="design-left">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<br class="clear" />
								</div>
								<div class="design-right">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<span class="d4 d">&nbsp;</span>
									<br class="clear" />
								</div>
							</div>
						</div>
						<div class="content onebyfour">
							<div>
								<small class="icon one">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon two">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon three">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon four">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon five">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon six">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<div>
								<small class="icon seven">&nbsp;</small>
								<h5>TechNewbie</h5>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, rem, itaque, doloremque laboriosam aliquam fuga corporis optio suscipit sequi qui fugiat alias repudiandae maiores labore temporibus aut ex rerum perferendis!</p>
							</div>
							<br class="clear">
						</div>
						<div class="bottom">
							<h4><b><small class="five">&nbsp;</small></b>Charity<span><small>&nbsp;</small></span></h4>
							<div class="designs">
								<div class="design-left">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<br class="clear" />
								</div>
								<div class="design-right">
									<span class="d1 d">&nbsp;</span>
									<span class="d2 d">&nbsp;</span>
									<span class="d3 d">&nbsp;</span>
									<span class="d4 d">&nbsp;</span>
									<br class="clear" />
								</div>
							</div>
						</div>		
					</li>
				</ul>
			</section>
		</section>
		<section id="part-of-femme">
			<section class="wrapper">
				<div class="head">
					<h3>Become a Part of Femme</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores tenetur aliquid sit repellat, dolores eius quasi possimus ipsum explicabo cumque. Explicabo exercitationem dignissimos asperiores unde et est, expedita numquam?</p>
				</div>
			<ul class="logo">
					<li>
						<h1><a href="index.html" title="Femme"><img src="{% static 'images/logo.png' %}" alt="image" title="Femme"/></a></h1>
					</li>
				</ul>
				<ul class="first">
					<li>
						<div class="top">
							<span class="icon1">&nbsp;</span>
						</div>
						<div class="bottom">
							<h5>Lorem Ipsum</h5>
						</div>
					</li>
					<li>
						<div class="top">
							<span class="icon2">&nbsp;</span>
						</div>
						<div class="bottom">
							<h5>Lorem Ipsum</h5>
						</div>
					</li>
				</ul>
				<ul class="second">
					<li>
						<div class="top">
							<span class="icon3">&nbsp;</span>
						</div>
						<div class="bottom">
							<h5>Lorem Ipsum</h5>
						</div>
					</li>
					<li>
						<div class="top">
							<span class="icon4">&nbsp;</span>
						</div>
						<div class="bottom">
							<h5>Lorem Ipsum</h5>
						</div>
					</li>
					<li>
						<div class="top">
							<span class="icon5">&nbsp;</span>
						</div>
						<div class="bottom">
							<h5>Lorem Ipsum</h5>
						</div>
					</li>
				</ul>
				<br class="clear">
			</section>
		</section>
		<section id="join">
			<section class="wrapper">
				<div class="head white">
					<h3>Join</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores tenetur aliquid sit repellat, dolores eius quasi possimus ipsum explicabo cumque. Explicabo exercitationem dignissimos asperiores unde et est, expedita numquam?</p>
				</div>
				<form class = "ajax reload" action="{% url 'web:registration' %}" method="POST">
					{% csrf_token %}
					<p class="first">
						<label for={{form.name.id_for_label}}>{{form.name.label}}</label>
						{{form.name}}
					</p>
					<p class="email">
						<label for={{form.email.id_for_label}}>{{form.email.label}}</label>
						{{form.email}}
					</p>
					<p class="phone">
						<label for={{form.phone.id_for_label}}>{{form.phone.label}}</label>
						{{form.phone}}
					</p>
					<p>
						<label for={{form.education.id_for_label}}>{{form.education.label}}</label>
						{{form.education}}
					</p>
					<p>
						<label for={{form.dob.id_for_label}}>{{form.dob.label}}</label>
						{{form.dob}}
					</p>
					<p class="last">
						<label for={{form.message.id_for_label}}>{{form.message.label}}</label>
						{{form.message}}
					</p>
					<br class="clear">
					<input type="submit" class="submit" id = "submit" value="Submit" />
				</form>
			</section>
		</section>
		<section id="contact">
			<section class="wrapper">
				<div class="head">
					<h3>Get in Touch</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam asperiores tenetur aliquid sit repellat, dolores eius quasi possimus ipsum explicabo cumque. Explicabo exercitationem dignissimos asperiores unde et est, expedita numquam?</p>
				</div>
				<ul>
					<li>
						<span><b class="icon icon1">&nbsp;</b></span>
						<p>2nd Floor,<br>Ashtamudi Tower,<br>SEZ IT Building Technopark <br>Kollam - 691501</p>
					</li>
					<li>
						<span><b class="icon icon2">&nbsp;</b></span>
						<p><a title="Email" href="mailto:hello@femme.com"> hello@femme.com</a></p>
					</li>
					<li>
						<span><b class="icon icon3">&nbsp;</b></span>
						<p><a title="Phone" href="tel:"> +91 9845213212</a></p>
						<p><a title="Phone" href="tel:">+91 9684578632</a></p>
					</li>
				</ul>
				<br class="clear">
				<span class="line one">&nbsp;</span>
				<section class="bottom">
					<a href="#" title="Twitter" target="_blank" class="icon Twitter"><img src="{% static 'images/tw.png' %}" alt="Image" title="Twitter" /></a>
					<a href="#" title="Facebook" target="_blank" class="fb"><img src="{% static 'images/fb.png' %}" alt="Image" title="Facebook" /></a>
					<a href="#" title="Google Plus" target="_blank" class="icon gplus"><img src="{% static 'images/gp.png' %}" alt="Image" title="Google Plus" /></a>
				</section>
			</section>
		</section>


		
		<footer>
			<section class="wrapper">
				<p>Powered By Femme. <span>&copy;</span> {% now 'Y' %} Femme. All rights reserved.</p>
			</section><!--(#footer > .bottom)-->
		</footer>
		<script>
			function openNav() {
			    document.getElementById("myNav").style.height = "100%";
			}

			function closeNav() {
			    document.getElementById("myNav").style.height = "0%";
			}
		</script>
	</body>
</html>
